body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
                url("https://cdn.discordapp.com/attachments/1444569246280581172/1477509374997172406/logo_pagina.jpg?ex=69a50555&is=69a3b3d5&hm=80deac38c4588ef981aa1f542ca9244dcb24a0863f372168481c5f17b697618d&");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.card {
    background: rgba(0,0,0,0.7);
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    color: rgb(247, 0, 0);
    backdrop-filter: blur(10px);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: red;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: darkred;
}
